* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    border: 1px solid #000;
    float: left;
    padding: 85px;
    width: 100%;
    height: 150px;
    content: none;
}
.container {
    float: left;
    width:100%;
    height: auto;
    clear: both;
}
.box {
    border: 1px solid #000;
    margin: 0;
    float: left;
    width: 33.33%;
   height: 540px;
    content: none;
}
