* { font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
    background: rgb(233, 230, 230);
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    height: 900px;
    margin: 0 auto; 
}

.flex-container {
    display: flex;
}

.box {
    min-width: 100px;
    border: 1px black solid;

}

ul {
list-style: none;
}

table {
    border: 1px solid white;
    padding: 5px;
}
th {
    background:  rgb(56, 153, 56);
    padding: 5px;
}
th.average {
    background: rgb(55, 167, 103);
  
}

td {
    background: rgb(56, 153, 56);
    padding: 5px;
}

td.average {
    background: rgb(55, 167, 103);

}

.td1 {
    background: rgb(160, 158, 158);
}

.table {
    float: left;
    max-width: 100px;
}
.button {

    border: none;
    color: white;
    padding: 15px 32px;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    
}
 
.btn1 {
    background: rgb(56, 153, 56);
}

 
.btn2{
    background: rgb(218, 41, 41);
}

 
.btn3 {
    background:rgb(37, 94, 160);
}

  
.boxone {
height: 700px;
flex-wrap: wrap;

}

.boxthree {
    margin-top: 300px;
    height: 200px;
    border: none;
    padding:30px;
    
    }
ul {
    padding:30px;
}
