* { font-family: Verdana;
    margin: 0;
}

body {
    background: rgb(233, 230, 230);
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
}

.flex-container {
    display: flex;
}

.box {
    min-width: 100px;
}